*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(190, 190, 190);
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
    background-color: #272c4c;
    height: 40px;
    top: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 15px;
    z-index: 1000;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    border: 0 2px 0 2px;
    transform: scale(1.1);
    padding: 2px;
}

.nav a:hover {
    text-decoration: none;
    border-bottom: 2px solid #f96207;
    transition: border-bottom 0.3s ease-in-out;
    color: #f96207;
    transition: color 0.3s ease-in-out, border-bottom 3s ease-in-out;
}



.a-img {
    height: 40px;
    width: auto;
}

main {

    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border-radius: 20px;;
    /* top: 50px; */
    overflow: hidden;
    min-height: calc(100vh - 300px);
    margin-top: 60px;
    background-color: rgb(240, 240, 240);
    height:100%;
    size:cover;
    margin-bottom: 10px;

}


.creators-image{
    float: right;
   
    border-radius: 20px;
    margin-top: 100px;

    padding:20px;
    width:95%;
    align-items: center;
    margin-left:15px;
    
    margin-bottom: 30px;
    background-color: #ffffff;
    

}



.creators-image-2{
    float: right;
   
    border-radius: 20px;
    margin-top: 20px;

    padding:20px;
    width:95%;
    align-items: center;
    /* margin-left:15px; */
    
    margin-bottom: 30px;
    background-color: #ffffff;
}

.creators-image img{
    
        height:300px;
        width: 300px;
        float:left;
        margin:10px;
        size: cover;
        border-radius:20px;
        border: 3px solid black;
      
}



.hech1{
    margin-left: 20px;
    margin-top:30px;
    /* text-decoration: underline; */
}

.creators-image-2 img{
    height:280x;
    width:300px;
    float:left;
    margin:10px;
    size: cover;
    border-radius:20px;
    border:3px solid black;
    
    
}

.creators-image p{
    /* border: 2px solid black; */
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    font-family: 'Franklin Gothic Medium';
    color: #272c4c;
    /* list-style-type: decimal;
    /* position:absolute; */
    /* color:pink;  */

    
}



.creators-image h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-align: center ; */
    position:200px 100px;
    padding-top:10px;
    /* text-decoration:underline; */
    text-decoration-line:underline;
    /* text-underline-position:initial; */
    
}

.creators-image-2 p{
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
    color: #272c4c;
     list-style-type: decimal;
    height: 800px;

    
}

.creators-image-2 h2{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
/* text-align: center ; */
position:200px 100px;
padding-top:10px;
/* text-decoration:underline; */
text-decoration-line:underline;
/* text-underline-position:initial; */

}

.creators-image,.creators-image-2{
    transition: all 0.1s ease-in-out;
}
.creators-image:hover, .creators-image-2:hover{
    transform: scale(1.04);
}

.up img {
    height: 20px;
    width: 20px;
    aspect-ratio: 1-1;
    position: fixed;
    bottom: 30px;
    right: 10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: transform 0.2s;
}

.up img:hover {
    transform: scale(1.5);
    background-color: #f0f0f0;
}

.foot {
    background-color: #272c4c;
    height: 60px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    bottom:0px;
    
}
h1, h2{
    color: #272c4c;
    font-family: 'arial';
}
.creators-image img, .creators-image-2 img{
    height: 250px;
    aspect-ratio: 1-1;
    width: 250px;
}
ul li{
    text-decoration: none;
    list-style:none;
}
h1{
    text-decoration: none;
}
::-webkit-scrollbar {
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background: #ffe75f;
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
    background: #fdd256;
  }
