* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(220, 220, 220);
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.nav {
    background-color: #272c4c;
    height: 40px;
    top: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 15px;

    z-index: 1000;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    border: 0 2px 0 2px;
    transform: scale(1.1);
    padding: 2px;
}

.nav a:hover {
    text-decoration: none;
    border-bottom: 2px solid #f96207;
    transition: border-bottom 0.3s ease-in-out;
    color: #f96207;
    transition: color 0.3s ease-in-out, border-bottom 3s ease-in-out;
}

.foot {
    background-color: #272c4c;
    height: 50px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    margin-top: 60px;
    bottom: 0;
    padding-top: 20px;
}

.a-img {
    height: 40px;
    width: auto;
}

main {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    overflow: hidden;
    min-height: calc(100vh - 300px);
    
}

.abt-img {
    width: 100%;
}

.abt-container {
    margin-top: 70px;
    position: relative;
    max-width: 100%;
    color: #272c4c;
}

.about {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
}

.about2 a {
    text-decoration: none;
    color: #272c4c;
}

.about2 {
    position: absolute;
    top: 80%;
    left: 7%;
    font-weight: bold;
    color: #272c4c;
}

.abt-img img {
    max-width: 100%;
    height: auto;
}

.up img {
    height: 20px;
    width: 20px;
    aspect-ratio: 1-1;
    position: fixed;
    bottom: 30px;
    right: 10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: transform 0.2s;
}

.up img:hover {
    transform: scale(1.5);
    background-color: #f0f0f0;
}

.slider {
    width: auto;
    height: 400px;
    overflow: hidden;
    position: relative;
    max-width: 48rem;
    margin-top: 50px;
    border-radius: 20px;
    left: 20%;
    padding: 2px;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: slide 15s infinite;
}

.slider img:nth-child(1) {
    animation-delay: 0s;
}

.slider img:nth-child(2) {
    animation-delay: 3s;
}

.slider img:nth-child(3) {
    animation-delay: 6s;
}

.slider img:nth-child(4) {
    animation-delay: 9s;
}

.slider img:nth-child(5) {
    animation-delay: 12s;
}


@keyframes slide {

    0%,
    25% {
        opacity: 0;
    }

    30%,
    55% {
        opacity: 1;
    }

    60%,
    100% {
        opacity: 0;
    }
}

h1,
h2 {
    color: #272c4c;
    font-family: 'Franklin Gothic Medium';
}

.space-cont {
    background-color: #FFFFFF;
    padding: 50px;
    border-radius: 30px;
    margin: 0;
}

main {
    margin: 0;
}

.chandrayaan3 {
    /* display: flex; */
    padding: 20px;
    margin: 10px;
    /* width: 100%; */
    overflow: hidden;
}

.recent-mission {
    margin: 30px 0;
}

.recent-mission p {
    margin: 20px;

}

.chandrayaan3 img {
    float: left;
    border-radius: 20px;
    height: 300px;
    margin: 20px;
}

.overview-chnd {
    clear: both;
}

.chand {
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    font-family: 'Franklin Gothic Medium';
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #272c4c;
}

.chand:hover {
    background-color: #e0e0e0;
}

details {
    padding: 10px;
}

summary {
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px;
    font-family: 'Franklin Gothic Medium';
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #272c4c;
}

.sub-summary:hover {
    background-color: #e0e0e0;
}

details {
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 5px;
    font-family: 'arial';
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #272c4c;
}

details {
    margin-left: 20px;
    padding: 5px;
}

details ul {
    list-style-type: disc;
    padding-left: 20px;
}

details ol {
    list-style-type: decimal;
    padding-left: 20px;
}

.mom img {
    float: left;
    height: 300px;
    border-radius: 20px;
    margin: 20px;
}

.mangal {

    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    font-family: 'Franklin Gothic Medium';
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #272c4c;
}

.mangal:hover {
    background-color: #e0e0e0;
}
.gagan img{
    float: left;
    height: 300px;
    margin: 20px;
    border-radius: 20px;
}
.chandrayaan3, .mom,.gagan, .aditya{
    background-color: #f0f0f0;
    margin: 30px;
    border-radius: 20px;
    padding: 20px;
}
.gagan-summary{
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    font-family: 'Franklin Gothic Medium';
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #272c4c;
}
.gagan-summary:hover{
    background-color: #e0e0e0;
}
.aditya img{
    height: 270px;
    border-radius: 20px;
    margin: 20px;
    float: left;
}
.adi{
    outline: none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    font-family: 'Franklin Gothic Medium';
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #272c4c;
}
.adi:hover{
    background-color: #e0e0e0;
}
::-webkit-scrollbar {
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb {
    background: #ffe75f;
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #fdd256;
  }