*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(190, 190, 190);
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav {
    background-color: #272c4c;
    height: 40px;
    top: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 15px;
    /* border-radius: 10px; */
    z-index: 1000;
}

.nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    border: 0 2px 0 2px;
    transform: scale(1.1);
    padding: 2px;
}

.nav a:hover {
    text-decoration: none;
    border-bottom: 2px solid #f96207;
    transition: border-bottom 0.3s ease-in-out;
    color: #f96207;
    transition: color 0.3s ease-in-out, border-bottom 3s ease-in-out;
}

.foot {
    background-color: #272c4c;
    height: 50px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    margin-top: 60px;
    bottom: 0;
    padding-top: 20px;
}

.a-img {
    height: 40px;
    width: auto;
}

main {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    /* top: 50px; */
    overflow: hidden;
    min-height: calc(100vh - 300px);
    /* margin-top: 60px; */
    border-radius: 20px;
}
.abt-img{
    width: 100%;
    /* border-radius: 50px; */
}
.abt-container {
    margin-top: 70px;
    position: relative;
    max-width: 100%;
    color: #272c4c;
}

.about {
    position: absolute;
    top: 50%; 
    left: 10%; 
    transform: translate(-50%, -50%);
    /* background-color: rgba(255, 255, 255, 0.7); */
    padding: 10px;
    border-radius: 5px;
}
.about2 a{
    text-decoration: none;
    color: #272c4c;
}
.about2{
    position: absolute;
    top: 80%;
    left: 7%;
    font-weight: bold;
    color: #272c4c;
}
.abt-img img {
    max-width: 100%;
    height: auto;
}
.up img{
    height: 20px;
    width: 20px;
    aspect-ratio: 1-1;
    position: fixed;
    bottom: 30px;
    right: 10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: transform 0.2s;
}
.up img:hover{
    transform: scale(1.5);
    background-color: #f0f0f0;
}
.slider {
    width: auto;
    height: 400px;
    overflow: hidden;
    position: relative;
    max-width: 48rem;
    margin-top: 50px;
    border-radius: 20px;
    left: 10%;
    padding: 2px;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: slide 21s infinite;
}

.slider img:nth-child(1) {
    animation-delay: 0s;
}

.slider img:nth-child(2) {
    animation-delay: 3s;
}

.slider img:nth-child(3) {
    animation-delay: 6s;
}

.slider img:nth-child(4) {
    animation-delay: 9s;
}

.slider img:nth-child(5) {
    animation-delay: 12s;
}

.slider img:nth-child(6) {
    animation-delay: 15s;
}

@keyframes slide {
    0%,
    25% {
        opacity: 0;
    }

    30%,
    55% {
        opacity: 1;
    }

    60%,
    100% {
        opacity: 0;
    }
}
.sports-content{
    background-color: rgba(255,255,255,0.6);
    padding: 50px;
    margin-top: 0;
}
.legends{
    color: #272c4c;
    font-family: 'Franklin Gothic Medium';
}
.img-cont1 img {
    float: left;
    border-radius: 10px;
    margin-right: 20px;
}

.Achievements{
    color: #272c4c;
    font-family: 'Franklin Gothic Medium';
}
.img-cont{
    transition: all 0.1s ease-in-out;
}
.img-cont:hover{
    transform: scale(1.07);
}
.Khelo-India{
  margin: 50px;
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;

}
.Khelo-India img{
    height: 200px;
    clear: both;
    float: right;
}
h1{
    color: #272c4c;
}
.sports-content{
    background-color: #f0f0f0;
    margin: 0px;
    border-radius: 0 0  50px 50px;
    margin-top: 0;
}
.img-cont img {
    float: right;
    border-radius: 10px;
    height: 240px;
}
.img-cont {
    background-color: #fff;
    padding: 30px;
    justify-content: center;
    border-radius: 20px;
    margin: 30px auto;
    clear: both;
    
}
.img-cont p{
    margin:  auto 20px;
    
}
::-webkit-scrollbar {
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb {
    background: #ffe75f;
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #fdd256;
  }